<footer>
  <nav class="top">
    <div class="wrapper">
      <ul>
        <li><a href="/livros-capitulos-artigos">Livros, capítulos e artigos</a></li>
        <li><a href="/conferencias">Conferências e palestras</a></li>
      </ul>
      <ul>
        <li><a href="/publicacoes">Comunicações científicas</a></li>
        <li><a href="/formacoes">Formações</a></li>
        <li><a href="/docencia">Docência</a></li>
      </ul>
      <ul>
        <li class="schedule"><a href="mailto:ola@marcoramos.pt?subject=Marcação%20de%20consulta" onclick="ga('send', 'event', 'Calls to action', 'click', 'Marcaçāo de consulta (footer)');">Marcação de consulta</a></li>
        <li class="schedule"><a href="mailto:ola@marcoramos.pt?subject=Outras%20informações" onclick="ga('send', 'event', 'Calls to action', 'click', 'Outras informações (footer)');">Outras informações</a></li>
      </ul>
    </div>
  </nav>
  <div class="bottom wrapper">
    <ul class="address">
      <li><small>AVEIRO</small> • <a href="https://goo.gl/maps/DNr4fDpugAs" onclick="ga('send', 'event', 'Locations', 'click', 'Aveiro');" target="_blank">Rua Combatentes Grande Guerra, 29</a></li>
      <li><small>VISEU</small> • <a href="https://goo.gl/maps/7h69Tgxwfcr" onclick="ga('send', 'event', 'Locations', 'click', 'Viseu');" target="_blank">Travessa da Balsa, 19</a></li>
    </ul>
    <a href="/" onclick="ga('send', 'event', 'Going back', 'click', 'Footer');">
      <div class="logo">&nbsp;</div>
    </a>
  </div>
</footer>
