@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700');
@import 'reset';

$colorSea:          #008FBE;
$colorWhite:        #f2f2f2;
$colorGreyDark:     #333333;
$colorGreyMedium:   #777777;
$colorGreyLight:    #C8C8C8;

$lora: 'Lora', serif;
$playfair: 'Playfair Display', serif;

// Mixins
@mixin tablet {
  @media (min-width: 660px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

// Styles
* { box-sizing: border-box }

::selection {
  background: $colorSea;
  color: $colorWhite;
}

::-moz-selection {
  background: $colorSea;
  color: $colorWhite;
}

a {
  color: $colorSea;
  text-decoration: none;
  border-bottom: 1px solid rgba($colorSea, .5);
}

em {
  font-style: italic;
}

body {
  color: $colorGreyDark;
  font-family: $lora;
  font-size: 16px;
  line-height: 1.6;
  background-image: url('../img/perfil.png');
  background-repeat: no-repeat;
  background-size: 30vw;
  background-position: right top;

  @include tablet { background-position-y: -2em }

  @include desktop { background-position-y: -5vw }
}

.wrapper {
  position: relative;
  padding: 1em 2em;
  max-width: 50em;
  margin: auto;

  &.wide {
    max-width: 65em;
  }
}

small {
  font-size: .8rem;
}

.header {
  @include tablet {
    padding-top: 7em;
    padding-bottom: 7em;
  }

  @include desktop {
    padding-top: 8em;
    padding-bottom: 11em;
  }

  .description {
    width: 70%;

    h1,
    h2,
    h3 {
      font-family: $playfair;
      font-size: 2rem;
      line-height: 1.3;

      @include tablet {
        font-size: 2.5rem;
      }
    }

    h1 {
    }

    h2,
    h3 {
      color: $colorGreyLight;
      font-size: 2.5rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    h4 {
      font-weight: 700;
    }
  }
}

.page {
  overflow: auto;
  width: 100%;
  display: none;

  &.main { display: block }

  h3 {
    font-family: $playfair;
    font-weight: 700;
    font-size: 3rem;
    padding-bottom: 1em;
    color: $colorGreyDark;
  }

  li {
    margin-bottom: 1em;
  }

  a[href^="http"] {
    color: $colorGreyDark;
    border-bottom: 1px solid $colorGreyLight;
  }

  .column-container {
    display: block;
    overflow: auto;
    width: 100%;
    position: relative;
  }

  .column {
    margin-top: 2em;

    @include tablet {
      width: 50%;
      float: left;
      margin-top: 0em;
    }

    &:first-child {
      @include tablet { padding-right: 3em }
    }

    &:last-child {
      @include tablet { padding-left: 3em }
    }
  }

  .actions-container {
    padding: 5em 0 4em;
  }

  .button {
    text-decoration: none;
    font-weight: 700;
    padding: 1em 2em;
    border-radius: 3px;
    margin-right: 1em;

    &:last-child { margin-right: 0 }
  }

  .appointment.button {
    background: $colorSea;
    color: white;
  }

  .information.button {
    border: 1px solid $colorSea;
  }

  .close {
    border-bottom: none;
    position: absolute;
    left: -2rem;
    font-size: 4rem;
    top: 0.5rem;
  }
}

footer .top {
  background-color: $colorSea;
  display: block;
  overflow: hidden;
  padding: 2em 0;

  @include tablet {
    background-color: transparent;
    background-image: url('../img/blue-poly.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding: 11em 0 6em;
  }

  ul {
    display: inline;

    @include tablet {
      display: block;
      width: 20%;
      margin-right: 20%;
      float: left;
    }

    &:last-child {
      @include tablet { margin-right: 0 }
    }
  }

  li {
    display: inline-block;

    @include tablet {
      display: block;
      padding: .5rem 0;

      a {
        display: inline;
      }
    }
  }

  .schedule {
    font-weight: 700;

    @include tablet {
      width: 10em;
      padding: .5em 0;
    }
  }

  a {
    text-decoration: none;
    border-bottom: 2px solid $colorWhite;
    padding: .5em;
    line-height: 3;
    color: $colorWhite;

    @include tablet {
      display: inline-block;
      border-bottom: 2px solid transparent;
      padding: .4em 0 .1em;
      line-height: 1.6;
    }

    &:link,
    &:visited {
      background: rgba(black, .2);
      border-bottom: 2px solid $colorWhite;

      @include tablet {
        background: none;
        border-bottom: 2px solid transparent;
      }
    }

    &:hover,
    &:active,
    &:focus {
      background: rgba(black, .4);
      border-bottom: 2px solid $colorWhite;

      @include tablet {
        background: none;
      }
    }
  }
}

footer {
  overflow: hidden;
}

footer .bottom {
  padding: 4em 2em;
  overflow: hidden;
}

footer .address {
  text-align: center;

  @include tablet {
    text-align: left;
    width: 75%;
    float: left;
  }
}

footer .logo {
  height: 3em;
  margin: 3em 0 0;
  background-image: url('../img/blue-logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;

  @include tablet {
    margin: 0;
    width: 25%;
    float: left;
    background-position: right top;
  }
}
