@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

::selection {
  background: #008FBE;
  color: #f2f2f2; }

::-moz-selection {
  background: #008FBE;
  color: #f2f2f2; }

a {
  color: #008FBE;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 143, 190, 0.5); }

em {
  font-style: italic; }

body {
  color: #333333;
  font-family: "Lora", serif;
  font-size: 16px;
  line-height: 1.6;
  background-image: url("../img/perfil.jpg");
  background-repeat: no-repeat;
  background-size: 25vw;
  background-position: right 1rem; }
  @media (min-width: 1024px) {
    body {
      background-position-y: 6rem; } }

.wrapper {
  position: relative;
  padding: 1em 2em;
  max-width: 50em;
  margin: auto; }
  .wrapper.wide {
    max-width: 65em; }

small {
  font-size: .8rem; }

@media (min-width: 660px) {
  .header {
    padding-top: 6em;
    padding-bottom: 4em; } }

.header .description {
  width: 85%; }
  .header .description h1,
  .header .description h2,
  .header .description h3 {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    line-height: 1.3; }
    @media (min-width: 660px) {
      .header .description h1,
      .header .description h2,
      .header .description h3 {
        font-size: 2.5rem; } }
  .header .description h2 {
    color: #C8C8C8;
    font-size: 1.5rem;
    margin-bottom: 2rem; }
  .header .description h3 {
    color: #333333;
    font-weight: 700; }
    @media (min-width: 660px) {
      .header .description h3 {
        font-size: 3.5rem; } }
    @media (min-width: 1024px) {
      .header .description h3 {
        font-size: 4.5rem; } }

.page {
  overflow: auto;
  width: 100%;
  display: none;
  padding-top: 1em; }
  .page.main {
    display: block; }
  .page h3 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 1.5rem;
    border-bottom: 3px solid #333333;
    display: inline-block;
    margin-bottom: 2em;
    padding-bottom: .25em;
    color: #333333; }
    @media (min-width: 660px) {
      .page h3 {
        font-size: 2rem; } }
  .page h4 {
    font-weight: 700; }
  .page li {
    margin-bottom: 1em;
    position: relative; }
  .page a[href^="http"] {
    color: #333333;
    border-bottom: 1px solid #C8C8C8; }
  .page .column-container {
    display: block;
    overflow: auto;
    width: 100%;
    position: relative; }
  .page .column {
    margin-top: 2em; }
    @media (min-width: 660px) {
      .page .column {
        width: 50%;
        float: left;
        margin-top: 0em; } }
    @media (min-width: 660px) {
      .page .column:first-child {
        padding-right: 3em; } }
    @media (min-width: 660px) {
      .page .column:last-child {
        padding-left: 3em; } }
  .page .actions-container {
    padding: 5em 0 4em; }
  .page .button {
    text-decoration: none;
    font-weight: 700;
    padding: 1em 2em;
    border-radius: 3px;
    margin-right: .5rem;
    display: block;
    text-align: center;
    margin-bottom: 1rem; }
    @media (min-width: 660px) {
      .page .button {
        display: inline-block;
        text-align: left;
        margin-bottom: 0; } }
  .page .appointment.button {
    background: #008FBE;
    color: white; }
  .page .information.button {
    border: 1px solid #008FBE; }
  .page .num {
    position: absolute;
    top: 2px;
    left: -2rem; }
    @media (min-width: 1024px) {
      .page .num {
        left: -2.5rem; } }
  .page .back {
    border-bottom: none;
    font-family: Arial;
    text-transform: uppercase;
    font-size: .6rem;
    letter-spacing: 2px;
    background: #C8C8C8;
    padding: .5rem;
    border-radius: 2px;
    color: white; }
  .page .back.top {
    display: block;
    position: absolute;
    right: 0;
    top: 2rem; }
    @media (min-width: 1024px) {
      .page .back.top {
        left: -5.25rem;
        right: auto; } }
  .page .indented li {
    margin-left: 2rem; }
  .page .indented p {
    text-indent: -2rem; }
  .page .footnote {
    color: #777777;
    font-size: .8rem;
    margin-bottom: 4rem; }

footer .top {
  background-color: #008FBE;
  display: block;
  overflow: hidden;
  padding: 2em 0; }
  @media (min-width: 660px) {
    footer .top {
      background-color: transparent;
      background-image: url("../img/blue-poly.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      padding: 11em 0 6em; } }
  footer .top ul {
    display: inline; }
    @media (min-width: 660px) {
      footer .top ul {
        display: block;
        width: 20%;
        margin-right: 20%;
        float: left; } }
    @media (min-width: 660px) {
      footer .top ul:last-child {
        margin-right: 0; } }
  footer .top li {
    display: inline-block; }
    @media (min-width: 660px) {
      footer .top li {
        display: block;
        padding: .5rem 0; }
        footer .top li a {
          display: inline; } }
  footer .top .schedule {
    font-weight: 700; }
    @media (min-width: 660px) {
      footer .top .schedule {
        width: 10em;
        padding: .5em 0; } }
  footer .top a {
    text-decoration: none;
    border-bottom: 2px solid #f2f2f2;
    padding: .5em;
    line-height: 3;
    color: #f2f2f2; }
    @media (min-width: 660px) {
      footer .top a {
        display: inline-block;
        border-bottom: 2px solid transparent;
        padding: .4em 0 .1em;
        line-height: 1.6; } }
    footer .top a:link, footer .top a:visited {
      background: rgba(0, 0, 0, 0.2);
      border-bottom: 2px solid #f2f2f2; }
      @media (min-width: 660px) {
        footer .top a:link, footer .top a:visited {
          background: none;
          border-bottom: 2px solid transparent; } }
    footer .top a:hover, footer .top a:active, footer .top a:focus {
      background: rgba(0, 0, 0, 0.4);
      border-bottom: 2px solid #f2f2f2; }
      @media (min-width: 660px) {
        footer .top a:hover, footer .top a:active, footer .top a:focus {
          background: none; } }

footer {
  overflow: hidden; }

footer .bottom {
  padding: 4em 2em;
  overflow: hidden; }

footer .address {
  text-align: center; }
  @media (min-width: 660px) {
    footer .address {
      text-align: left;
      width: 75%;
      float: left; } }

footer .logo {
  height: 3em;
  margin: 3em 0 0;
  background-image: url("../img/blue-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top; }
  @media (min-width: 660px) {
    footer .logo {
      margin: 0;
      width: 25%;
      float: left;
      background-position: right top; } }
