@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700');
@import 'reset';

$colorSea:          #008FBE;
$colorWhite:        #f2f2f2;
$colorGreyDark:     #333333;
$colorGreyMedium:   #777777;
$colorGreyLight:    #C8C8C8;

$lora: 'Lora', serif;
$playfair: 'Playfair Display', serif;

// Mixins
@mixin tablet {
  @media (min-width: 660px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

// Styles
* { box-sizing: border-box }

::selection {
  background: $colorSea;
  color: $colorWhite;
}

::-moz-selection {
  background: $colorSea;
  color: $colorWhite;
}

a {
  color: $colorSea;
}

em {
  font-style: italic;
}

body {
  color: $colorGreyDark;
  font-family: $lora;
  font-size: 16px;
  line-height: 1.6;
}

.wrapper {
  padding: 1em 2em;
  max-width: 50em;
  margin: auto;

  &.wide {
    max-width: 65em;
  }
}

.main {
  background-image: url('../img/perfil.png');
  background-repeat: no-repeat;
  background-size: 30vw;
  background-position: right top;

  @include tablet { background-position-y: -2em }

  @include desktop { background-position-y: -5vw }

  &.blur {
    filter: blur(1px);
    -webkit-filter: blur(1px);
  }
}

h3 {
  font-family: $playfair;
  color: $colorGreyLight;
  font-size: 1.5em;
  font-weight: 700;
}

small {
  font-size: .8em;
}

.poster {
  @include tablet {
    padding-top: 7em;
    padding-bottom: 7em;
  }

  @include desktop {
    padding-top: 11em;
    padding-bottom: 11em;
  }

  .description {
    width: 70%;

    h1,
    h2 {
      font-family: $playfair;
      font-size: 2em;
      line-height: 1.2;

      @include tablet {
        font-size: 2.5em;
      }
    }

    h1 {
      // font-weight: 700;
    }

    h2 {
      color: $colorGreyMedium;
    }
  }
}

.body {

  h3 {
    margin-bottom: 1em;
  }

  li {
    margin-bottom: 1em;
  }

  .summary {
    display: block;
    overflow: hidden;
  }

  .column {
    margin-top: 2em;

    @include tablet {
      width: 50%;
      float: left;
      margin-top: 0em;
    }
  }

  .background {
    @include tablet { padding-right: 3em }
  }

  .experience {
    @include tablet { padding-left: 3em }
  }

  .button {
    text-decoration: none;
    font-weight: 700;
    padding: 1em 2em;
    border-radius: 3px;
  }

  .appointment,
  .information {
    padding: 3em 0 4em;
  }

  .appointment .button {
    background: $colorSea;
    color: $colorWhite;
  }

  .information .button {
    border: 1px solid $colorSea;
  }
}

footer .top {
  background-color: $colorSea;
  display: block;
  overflow: hidden;
  padding: 2em 0;

  @include tablet {
    background-color: transparent;
    background-image: url('../img/blue-poly.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding: 11em 0 6em;
  }

  ul {
    display: inline;

    @include tablet {
      display: block;
      width: 20%;
      margin-right: 20%;
      float: left;
    }

    &:last-child {
      @include tablet { margin-right: 0 }
    }
  }

  li {
    display: inline-block;

    @include tablet {
      display: block;
    }
  }

  .schedule {
    font-weight: 700;

    @include tablet {
      width: 10em;
      padding: .5em 0;

      a {
        display: inline;
      }
    }
  }

  a {
    text-decoration: none;
    border-bottom: 2px solid $colorWhite;
    padding: .5em;
    line-height: 3;
    color: $colorWhite;

    @include tablet {
      display: inline-block;
      border-bottom: 2px solid transparent;
      padding: .4em 0 .1em;
      line-height: 1.6;
    }

    &:link,
    &:visited {
      background: rgba(black, .2);
      border-bottom: 2px solid $colorWhite;

      @include tablet {
        background: none;
        border-bottom: 2px solid transparent;
      }
    }

    &:hover,
    &:active,
    &:focus {
      background: rgba(black, .4);
      border-bottom: 2px solid $colorWhite;

      @include tablet {
        background: none;
      }
    }
  }
}

footer .bottom {
  padding: 4em 2em;
  overflow: hidden;
}

footer .address {
  text-align: center;

  @include tablet {
    text-align: left;
    width: 75%;
    float: left;
  }
}

footer .logo {
  height: 3em;
  margin: 3em 0 0;
  background-image: url('../img/blue-logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;

  @include tablet {
    margin: 0;
    width: 25%;
    float: left;
    background-position: right top;
  }
}

.dialog {
  display: none;
}

.dialog-overlay {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.dialog-content {
  background-color: rgb(255, 255, 255);
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 2em;
  width: 100%;
  border-radius: 2px;
  max-width: 54em;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  @media screen and (min-width: 700px) {
    padding: 4em;
  }

  @media screen and (max-height: 600px) {
    top: 0;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  &.wide {
    max-width: 65em;
  }

  h3 {
    font-size: 3em;
    padding-bottom: 1em;
    color: $colorGreyDark;
  }
}
