<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>

    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Marco Ramos" />
    <meta name="twitter:description" content="{{ site.summary }}" />
    <meta name="twitter:image" content="{{ site.url }}/assets/image/perfil.jpg" />
    <meta name="twitter:url" content="{{ site.url }}" />

    <!-- Open Graph -->
    <meta property="og:site_name" content="Marco Ramos" />
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:image" content="{{ site.url }}/assets/image/perfil.jpg" />
    <meta property="og:description" content="{{ site.summary }}" />

    <link rel="stylesheet" media="all" href="assets/styles/main.css">
    
    <script async defer data-website-id="a2991498-bf19-467f-8e4a-14b61e2e41ac" src="https://umami.joao.pt/umami.js"></script>
    
  </head>

  <body>

  {% include header.html %}

  {{ content }}

  {% include footer.html %}

  </body>
</html>
